.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: $header-height;

  .jumbotron {
    
  }

  .city-input {
    width: 380px;

    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
}
