.artist-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h1 {
    margin: 0 auto;
  }

  .fb-page-search {
    margin: 20px auto;
    width: 500px;

    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
}
