{
  "extends": [
    "airbnb"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/prefer-default-export": "warn",
    "global-require": "off",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "res|req|next|^err" }],
    "no-shadow": ["error", { "allow": ["res", "req", "err", "db"] }],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-console": "warn",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-nested-ternary": "off",
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "func-names": "off",
    "radix": "warn",
    "consistent-return": "warn",
    "max-len": [1, 180, 4],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/prefer-stateless-function": "warn",
    "react/prop-types": "warn",
    "react/forbid-prop-types": "warn"
  }
}
