{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": "airbnb/base",
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/prefer-default-export": "warn",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "res|req|next|^err" }],
    "no-shadow": ["error", { "allow": ["res", "req", "err"] }],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-console": "warn",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "semi": "off",
    "prefer-const": "warn",
    "consistent-return": "warn",
    "max-len": [1, 180, 4]
  }
}
