.auth-container {
  width: 340px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.google-auth-button, .facebook-auth-button, .email-auth-button {
  flex: 0 0 100%;
  margin: 0.25em 0;
  height: 50px;
  padding-left: 25% !important;
  text-align: left;
  color: #fefefe;
}

.google-auth-button {
  background: #dd4b39;
}

.google-auth-button:hover {
  background: #ac4a3e !important;
}

.facebook-auth-button {
  background: #3b5998;
}

.facebook-auth-button:hover {
  background: #374d7a !important;
}

.email-auth-button {
  background: #7c2678;
}

.email-auth-button:hover {
  background: #62205f !important;
}

.google-auth-button i, .facebook-auth-button i {
  font-size: 1.1em;
  padding-right: 0.5em;
}

.email-auth-button i {
  padding-right: 0.5em;
}

.login-signup-switch {
  flex: 0 0 100%;
  text-align: center;
  font-weight: 300;
}

.login-signup-switch button {
  border: none;
  background: transparent;
  font-weight: 700;
  color: #fefefe;
  cursor: pointer;
}

.login-signup-switch button:hover {
  color: #ffcf40;
}

.email-auth-form {
  width: 100%;
}

.email-auth-form label {
  position: relative;
  display: block;
  margin-bottom: -16px;
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 3px #000;
  padding-left: 5px;
  font-weight: 700;
  z-index: 99;
}

.email-auth-input {
  flex: 0 0 100%;
  width: 100%;
  height: 50px;
  margin: 8px 0;
  padding: 12px;
  color: #fefefe;
  background: transparent;
  border: 2px solid #fefefe;
  border-radius: 3px;
  z-index: 0;
}

.email-auth-input:focus {
  border: 2px solid #ffcf40;
}

.email-auth-form-button {
  width: 100%;
  text-align: center;
  margin: 4px 0;
  height: 50px;
  background: #e3b01a;
  font-weight: 900;
}

.auth-error {
  color: #f44f54;
}
