/* Main css
   ========================================================================= */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #222 !important;
  color: #fefefe;
}

#root {
  height: 100%;
  width: 100%;
}

#root > div {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  order: 0;
  height: 60px;
  line-height: 60px;
  background-color: #222;
  box-shadow: 0 0 5px #333;
  color: #333;
  padding-left: 1em;
  border-bottom: 1px solid #666;
}

.header-logo {
  flex: 0 0 160px;
  padding-top: .7em;
  background: url('../img/showspark-logo.png') no-repeat;
  background-size: 150px;
  background-position: left 10px;
  border-right: 1px solid #666;
  transition: all 0.5s ease;
}

.header-logo:hover {
 background: url('../img/showspark-logo.png') no-repeat, url('../img/showspark-logo-bg-hover.png') no-repeat;
 background-size: 150px;
 background-position: left 10px;
}

.location-search-container {
  flex: 1 1 70%;
}

.location-search-container div {
  width: 100%;
}

.location-search-input {
  font-family: 'Roboto';
  font-weight: 500;
  padding-left: 1em;
  width: 100%;
  height: 58px;
  font-size: 18px;
  background-color: #222;
  color: #fefefe;
  outline: none;
  border: none;
}

.location-search-input::placeholder {
  font-weight: 400;
  color: #777;
}

.suggestion-item {

}

.suggestion-item i {
  padding-right: 10px;
  padding-left: 5px;
}

img.powered-by-google {
  width: 120px;
  float: right;
  padding-top: 30px;
}

.ui.dimmer {
  margin-top: 60px;
  height: calc(100% - 60px) !important;
}

.dimmer-error {
  font-family: 'Roboto';
  font-weight: 500;
  color: #fefefe;
  border: 3px solid #c93e3b;
  background-color: #c93e3b;
  border-radius: 5px;
  margin: 0 100px;
  padding: 20px;
}

.map-container {
  flex: 1 1 50%;
  order: 1;
  height: calc(100% - 60.5px);
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.mapboxgl-popup-content {
  font-family: 'Roboto';
  background-color: #222 !important;
  border: 1px solid #555;
  color: #fefefe;
  padding: 5px !important;
  cursor: pointer;
}

.mapboxgl-popup-tip {
  border-top-color: #222 !important;
}

.venue-popup-title {
  font-size: 13px;
  font-weight: 500;
}

.list-container {
  flex: 1 1 50%;
  order: 2;
  height: calc(100% - 60.5px);
  border-left: 1px solid #ccc;
}

.list-item {

}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.list-item:active {
  background-color: #3065b1;
}

.list-item h3 {
  font-size: 110%;
  line-height: 110%;
  margin-top: 0;
  margin-bottom: 0;
}

.list-item.selected {
  background-color: #477ecd;
  min-height: 110px;
  padding-top: 10px;
  padding-bottom: 15px;
  min-width: 100%;
}

.list-item.selected h2 {
  margin-top: 0;
  text-shadow: 1.5px 1.5px 0 #112541;
}

.list-item.selected:hover {
  background-color: #3f78cb;
  cursor: default;
}

@media screen and (min-width: 992px) {
  .app {
    flex-direction: row;
  }

  .map {
    order: 2;
    height: calc(100% - 40px);
  }
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #333;
}

body {
  scrollbar-face-color: #333;
  scrollbar-track-color: #fefefe;
}
