/* Main css
   ========================================================================= */
html {
  box-sizing: border-box !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Roboto', 'sans-serif' !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #222 !important;
  color: #fefefe !important;
  -webkit-font-smoothing: antialiased !important;
}

:focus {

}

#root {
  height: 100%;
  width: 100%;
}

#root > div {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  order: 0;
  height: 60px;
  line-height: 60px;
  background-color: #222;
  box-shadow: 0 0 5px #333;
  color: #333;
  padding-left: 1em;
  border-bottom: 1px solid #666;
}

.header-logo {
  flex: 0 0 160px;
  padding-top: .7em;
  background: url('../img/showspark-logo.png') no-repeat;
  background-size: 150px;
  background-position: left 10px;
  border-right: 1px solid #666;
  transition: all 0.5s ease;
}

.header-logo:hover {
 background: url('../img/showspark-logo.png') no-repeat, url('../img/showspark-logo-bg-hover.png') no-repeat;
 background-size: 150px;
 background-position: left 10px;
}

.location-search-container {
  flex: 1 1 70%;
  display: flex;
}

.location-search-container div {
  width: 100%;
}

.location-search-icon {
  flex: 0 0 28px;
  height: 100%;
  padding-left: 8px;
  margin-top: -1.5px;
}

.location-search-icon i {
  color: #777;
  transform: scale(1.2);
}

.location-search-input {
  flex: 1 1 98%;
  font-weight: 500;
  width: 90%;
  height: 58px;
  font-size: 18px;
  background-color: #222;
  color: #fefefe;
  outline: none;
  border: none;
}

.location-search-input::placeholder {
  font-weight: 400;
  color: #777;
}

.suggestion-item {

}

.suggestion-item i {
  padding-right: 10px;
  padding-left: 5px;
}

img.powered-by-google {
  width: 120px;
  float: right;
  padding-top: 30px;
}

.ui.dimmer {
  margin-top: 60px;
  height: calc(100% - 60px) !important;
}

.dimmer-error {
  font-weight: 500;
  font-size: 1.5em;
  color: #fefefe;
  background-color: #c93e3b;
  background-image: linear-gradient(110deg, #c93e3b 0, #810705; 100%);
  border-radius: 5px;
  margin: 0 8%;
  padding: 20px;
}

.map-container {
  flex: 1 1 40%;
  order: 1;
  height: calc(100% - 60.5px);
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.mapboxgl-popup-content {
  border-radius: 6px !important;
  background-color: #fbe058 !important;
  border-bottom: 3px solid #ffcf40;
  color: #333;
  padding: 2px 8px !important;
  margin-bottom: -2px;
  cursor: pointer;
}

.mapboxgl-popup-tip {
  border-top-color: #ffcf40 !important;
  border-top-width: 12px !important;
}

.hovered .mapboxgl-popup-content {
  background-color: #e72352 !important;
  border-bottom: 3px solid #d00649;
  color: #fff;
}

.hovered .mapboxgl-popup-tip {
  border-top-color: #d00649 !important;
}

.hovered.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  z-index: 99 !important;
}

.venue-popup-title {
  font-size: 11px;
  font-weight: bold;
}

.popup-zoom-scale {

}

.venue-list-container {
  flex: 0 1 60%;
  order: 2;
  height: calc(100% - 60.5px);
  overflow-y: scroll;
  border-left: 1px solid #ccc;
  padding: 5px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.venue-card {
  flex: 0 0 50%;
  max-width: calc(50% - 10px);
  height: 220px;
  padding: 5px;
  margin: 5px 5px;
  color: #fefefe;
}

.venue-card-img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  cursor: pointer;
}

.venue-card-info {
  cursor: pointer;
}

.venue-card-title {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 2px;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.venue-card-address {
  font-size: 12px;
  max-width: 100%;
  line-height: 13px;
  white-space: nowrap;
  overflow: hidden;
}

.venue-card-capacity {
  font-size: 12px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paginate-container {
  flex: 0 0 100%;
  margin-left: 10px;
  margin-top: 5px;
  height: 34px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: left;
}

.paginate-text {
  width: 134px;
  line-height: 1.3em;
  font-size: .85em;
  font-weight: bold;
}

.paginate-button {
  width: 32px;
  height: 34px;
  border: 1px solid #666;
  border-radius: 2px;
  background-color: inherit;
  margin: 0 2px;
}

.paginate-button.active {
  border: 1.5px solid #ccc;
  background-color: #ffcf40;
  color: #111;
  font-weight: 800;
}

.paginate-button:hover {
  border: 1.5px solid #aaa;
}

/* Desktop-specific Styles */
@media screen and (min-width: 992px) {

}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}

::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #555;
}

body {
  scrollbar-face-color: #555;
  scrollbar-track-color: #fefefe;
}
