.venue-search {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.venue-search-header {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  order: 0;
  height: 60px;
  background-color: #222;
  box-shadow: 0 0 5px #333;
  color: #333;
  border-bottom: 1px solid #666;
}

.venue-search-region-search {
  flex: 0 1 100%;
  border-left: 1px solid #666;
}

.map-container {
  flex: 1 1 40%;
  order: 1;
  height: calc(100% - 60.5px);
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.mapboxgl-popup-content {
  border-radius: 6px !important;
  background-color: #fbe058 !important;
  border-bottom: 3px solid #ffcf40;
  color: #333;
  padding: 2px 8px !important;
  margin-bottom: -2px;
  cursor: pointer;
}

.mapboxgl-popup-tip {
  border-top-color: #ffcf40 !important;
  border-top-width: 12px !important;
}

.hovered .mapboxgl-popup-content {
  background-color: #e72352 !important;
  border-bottom: 3px solid #d00649;
  color: #fff;
}

.hovered .mapboxgl-popup-tip {
  border-top-color: #d00649 !important;
}

.hovered.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  z-index: 99 !important;
}

.venue-popup-title {
  font-size: 11px;
  font-weight: bold;
}

.popup-zoom-scale {

}

.venue-list-container {
  flex: 0 1 60%;
  order: 2;
  height: calc(100% - 60.5px);
  overflow-y: scroll;
  border-left: 1px solid #999;
  padding: 5px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.venue-card {
  flex: 0 0 50%;
  max-width: calc(50% - 10px);
  height: 220px;
  padding: 5px;
  margin: 5px 5px;
  color: #fefefe;
}

.venue-card-img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  cursor: pointer;
}

.venue-card-info {
  cursor: pointer;
}

.venue-card-title {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 2px;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.venue-card-address {
  font-size: 12px;
  max-width: 100%;
  line-height: 13px;
  white-space: nowrap;
  overflow: hidden;
}

.venue-card-capacity {
  font-size: 12px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* smaller than tablet size */
@media screen and (max-width: 768px) {

}

/* smallest size */
@media screen and (max-width: 480px) {

}
