button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease .1s;
  border: 0;
  border-radius: 3px;
  box-shadow: $button-shadow;
  cursor: pointer;
  padding: 12px;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 700;

  &:hover {
    box-shadow: $button-shadow-hovered;
    background-color: $gray;
    color: $white;
  }

  &:focus {
    box-shadow: $button-shadow-active;
  }
}
