.venue-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #222;
}

.venue-header {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  background-color: #222;
  border-bottom: 1px solid #777;
  z-index: 999;
}

.venue-content {
  flex: 0 0 auto;
  width: 100%;
  height: calc(100% - 60px);
  background: transparent;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 1;
}

.venue-featured-img {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 -100px 100px #222;
  align-self: flex-start;
  display: flex;
  z-index: 0;
}

.venue-title {
  flex: 0 1 100%;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1em;
  padding-bottom: 6px;
  margin: -50px 0 0 3%;
  align-self: flex-end;
  z-index: 2;
}

.venue-info {
  flex: 0 0 45%;
  width: 45%;
  align-self: flex-start;
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.venue-info-items-container {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}

.venue-info-item {
  flex: 1 1 auto;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.venue-info-item.sm {
  width: 50%;
}

.venue-info-item.lg {
  width: 100%;
}

.venue-info-item i {
  height: 100%;
  font-size: 14px;
  width: 22px;
  color: #999;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.venue-info-item i.fa-map-marker {
  font-size: 18px;
  padding-top: 2px;
  padding-right: 0;
  padding-left: 2px;
}

.venue-info-item-content {
  flex: 1 1 50%;
  font-size: 13px;
  font-weight: 700;
  line-height: 12px;
}

.venue-info-item-title {
  font-size: 9px;
  max-height: 10px;
  text-transform: uppercase;
  padding: 0;
  display: block;
}

.venue-info-item-city {
  font-size: 11px;
  color: #aaa;
  font-weight: 900;
  display: block;
}

.venue-genres-container {
  flex: 1 0 auto;
  max-height: 90px;
  margin: 11.5px 0;
  padding: 5px 0;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.venue-genres-text {
  flex: 0 0 auto;
  order: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -11px;
  z-index: 99;
  color: #ddd;
}

.venue-genres-text span {
  background-color: #222;
}

.venue-genre {
  flex: 1 1 auto;
  order: 1;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.genre-icon {
  flex: 0 0 auto;
  order: 0;
  width: 100%;
  height: 40px;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
}

.venue-genre-text {
  flex: 0 0 auto;
  width: 100%;
  order: 1;
  padding-top: 5px;
  font-weight: 900;
  font-size: 0.65em;
  text-transform: uppercase;
  color: #aaa;
}

.venue-reviews {
  flex: 0 0 52%;
  height: auto;
  margin-right: 3%;
  margin-bottom: 3%;
  padding: 0 3% 2% 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.venue-review-stats {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}

.venue-review-stats.good {
  color: #2db33e;
}

.venue-review-stats.good-okay {
  color: #90b32d;
}

.venue-review-stats.okay {
  color: #fad054;
}

.venue-review-stats.okay-bad {
  color: #ff7a25;
}

.venue-review-stats.bad {
  color: #e72352;
}

.venue-review-stats i {
  flex: 0 0 auto;
  font-size: 1.5em;
  padding-left: 10px;
  padding-top: 1px;
}

.venue-review-stats-content {
  flex: 0 0 auto;
  line-height: 0.9em;
  font-weight: 300;
}

.venue-review-stats-content strong {
  font-weight: 900;
}

.venue-no-reviews-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.2em;
  padding: 10px 0;
  color: #bbb;
}

.venue-review-button {
  flex: 0 0 160px;
  background-color: #077bdb;
  color: #fff;
}

.venue-review-button:hover {
  background-color: #1070c1 !important;
  -webkit-text-stroke: 0;
  color: #ddd;
}

.venue-review-button.first {
  flex: 0 0 100%;
  height: 60px;
}

.venue-review {
  flex: 0 0 100%;
  padding: 10px 2px;
}

/* largest size only */
@media screen and (min-width: 992px) {
  .venue-info-item.sm {
    width: 25%;
  }

  .venue-info-item.lg {
    width: 50%;
  }
}

/* below medium size */
@media screen and (max-width: 768px) {
  .venue-title {
    text-align: center;
    font-size: 2em;
  }

  .venue-info {
    flex: 0 1 100%;
    margin: 0 10%;
  }

  .venue-info-item.sm {
    width: 25%;
  }

  .venue-info-item.lg {
    width: 50%;
  }

  .venue-reviews {
    flex: 0 1 100%;
    margin: 0 10% 3% 10%;
    justify-content: center;
  }

  .venue-no-reviews-text {
    font-size: 1em;
  }
}

/* below small-medium size */
@media screen and (max-width: 600px) {
  .venue-info {
    margin: 0 5%;
  }

  .venue-reviews {
    margin: 0 5% 3% 5%;
  }
}

/* smallest size */
@media screen and (max-width: 480px) {
  .venue-title {
    font-size: 1.7em;
  }

  .venue-featured-img {
    height: 35%;
  }

  .venue-info-item.sm {
    width: 50%;
  }

  .venue-info-item.lg {
    width: 100%;
  }

  .venue-review-stats {
    flex: 0 0 100%;
    font-size: 0.93em;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
  }

  .venue-review-stats i {
    font-size: 1.4em;
  }

  .venue-review-stats-content {
    padding-top: 5px;
  }

  .venue-review-stats-content div {
    display: inline-block;
  }

  .venue-review-button {
    flex: 0 0 100%;
    height: 50px;
  }
}

/*.skew {
  flex: 1 1 auto;
  width: 100%;
  height: 500px;
  background: #fefefe;
  left: 0;
  transform: skewY(6deg);
  z-index: 2;
}*/

/*
.skew-end {
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  height: 200px;
  align-self: flex-end;
  background-color: #000;
  z-index: 3;
}*/
