.artist-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient($background 5%, transparentize(darken($spark-yellow, 60%), .25) 50%, $background 100%), $artist-bg-img no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;

  @media screen and (max-width: 1024px) {
    background-position: top;
    background-size: 160%;
  }

  h1 {
    margin: 0 auto;
  }

  .fb-page-search,
  .genre-selector,
  .place-date-selector {
    margin: 20px auto;
    width: 500px;

    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }

  // Semantic UI Dropdown overrides
  .ui.selection.dropdown {
    transition: box-shadow .12s linear;
    border: .5px solid $white !important;
    background: transparent !important;
    padding: 11px !important;
    color: $white !important;

    &.active {
      border: .5px solid $spark-yellow !important;
      box-shadow: 0 0 0 2px transparentize($spark-yellow, .1) !important;
    }

    input {
      margin: 4px auto !important;
      height: auto !important;
    }

    .ui.label {
      background-color: $spark-yellow !important;
      text-shadow: none;
      color: $background;

      &:hover {
        &::before {
          visibility: hidden;
        }
      }
    }

    i.dropdown {
      display: none !important;
    }

    .menu {
      border: .5px solid $spark-yellow !important;
      border-top: 0 !important;
      box-shadow: 0 0 0 1.5px $spark-yellow !important;
      background-color: transparentize($black, .1) !important;

      .message {
        color: darken($white, 40%) !important;
        font-style: italic !important;
      }

      .item {
        border: 0 !important;
        background-color: transparent !important;
        color: $white !important;

        &:hover {
          color: $spark-yellow !important;
        }

        &.selected {
          background-color: transparentize(lighten($black, 20%), .1) !important;
          color: $spark-yellow !important;
          font-weight: 400 !important;
        }
      }
    }
  }

  .place-date-selector {
    .city-search {
      position: relative;

      .city-search-items {
        position: absolute;
        top: 100%;
        z-index: 1;
        border: 1px solid $spark-yellow;
        box-shadow: 0 0 0 1.5px $spark-yellow !important;
        background: transparent !important;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        div {
          background-color: transparentize($black, .5) !important;
        }

        .city-search-item {
          margin: 0;
          border: 0;

          &:hover {
            &::before {
              visibility: hidden;
            }
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
