.autocomplete-item {
  margin: 0;
  border: 0;

  &:active {
    background-color: lighten($black, 30%) !important;
  }

  &:hover {
    &::before {
      visibility: hidden;
    }
  }

  i {
    margin-right: 5px;
  }
}
